<main class="ink-grid align-center splashbackground">
  <div class="spacer">
  </div>
  <section class="card push-center">
  <div class="align-center">
<p></p>
</div>
<div class="bigcard push-center align-center">
        <h3 class="above">I will store your secret and keep it safe.</h3>
        <form name="loginForm" class="ink-form sidepad above bottom-space" novalidate>
    <div class="push-center align-center">
            <div class="control-group all-50 small-100 tiny-100 align-center" ng-class="{ 'has-error': loginForm.$invalid }">
                <label for="email">Email</label>
                <input id="email" name="email" type="text" class="control" ng-minlength=5 placeholder="Email" ng-model="$ctrl.person.email" required>
                <span class="error" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
              <small class="error" ng-show="loginForm.email.$error.minlength">Please use a valid email address
              </small>
            </span>

            </div>
            <div class="control append-button align-center all-100" role="submit">
                <button class="ink-button push-center" ng-click="$ctrl.login()" ng-disabled="loginForm.$invalid" type="submit">submit</button>
            </div>
        </form>
        <div class="bottomsies">
        </div>
    </div>
</section>
</main>
